In [12]:
# !conda install sqlalchemy --y

In [1]:
import pandas as pd
import sqlalchemy as sql

In [2]:
connect_string = 'mysql://root:admin123@localhost/umls'

In [3]:
sql_engine = sql.create_engine(connect_string)

## Concept

In [113]:
query = "SELECT CUI, TTY, SUI, STR, AUI FROM MRCONSO WHERE SUPPRESS='N' AND LAT = 'ENG' AND TS = 'P' AND ISPREF = 'Y' AND SAB ='SNOMEDCT_US'"
df = pd.read_sql_query(query, sql_engine)

In [5]:
df.head()

In [6]:
df.shape

In [9]:
df.to_csv('concepts.csv', index=None)

In [10]:
con = pd.read_csv('concepts.csv')

In [12]:
con = con.set_index('CUI')

In [104]:
con = con.sort_index()

In [105]:
con.shape

(310933, 4)

## Some concepts have multiple strings

In [20]:
con.loc['C1635169']

           TTY       SUI            STR       AUI
CUI
C1635169    PT  S6690478  Microliter/mL  A9410182
C1635169  SYGB  S6690482  Microlitre/mL  A9410186

In [26]:
con.index

Index(['C0419522', 'C2315877', 'C0013518', 'C2315867', 'C0035273', 'C0575466',
       'C2711259', 'C0575465', 'C2960594', 'C1261241',
       ...
       'C0686484', 'C0346376', 'C0413728', 'C0413728', 'C1628331', 'C1635169',
       'C1637390', 'C1623737', 'C4721340', 'C4721339'],
      dtype='object', name='CUI', length=310933)

In [40]:
con.duplicated()

CUI
C0419522    False
C2315877    False
C0013518    False
C2315867    False
C0035273    False
            ...
C1635169    False
C1637390    False
C1623737    False
C4721340    False
C4721339    False
Length: 310933, dtype: bool

## Relation

### All reltionships

In [106]:
query = "select CUI1, AUI1, REL, CUI2, AUI2, RELA, RG from umls.MRREL where SAB ='SNOMEDCT_US' AND DIR='Y' AND SUPPRESS='N'"
df = pd.read_sql_query(query, sql_engine)

In [107]:
# query = "SELECT * FROM umls.SRDEF WHERE rt = 'RL'"
# rel_type = pd.read_sql_query(query, sql_engine)

In [108]:
df.shape

In [109]:
df.head()

## Remove duplicated relations

In [79]:
df = df.sort_values(by=['RG'])

In [81]:
df.head()

            CUI1       AUI1 REL      CUI2       AUI2             RELA RG
0       C2603351  A27786098  RN  C1959776  A13013550          part_of  0
272685  C0024117   A3007198  RO  C3495060  A21460630        has_focus  0
814779  C4707947  A29506081  RO  C0269506  A23045712        occurs_in  0
272688  C0015967   A2881597  RO  C3536630  A21591815  associated_with  0
814782  C0441987   A3200743  RO  C0924004  A11740683   has_laterality  0

In [83]:
df[df.duplicated(['CUI1', 'CUI2', 'RELA'])]

             CUI1      AUI1  REL      CUI2       AUI2        RELA    RG
270366   C0011135  A3103682   RO  C0426647   A3458293  interprets     0
268405   C0424581  A3415127   RO  C0015672   A2881532  interprets     0
270464   C0018767  A2882199   RO  C0040264   A3196367  interprets     0
270437   C2945579  A2873572   RO  C3203358   A2882808  interprets     0
270519   C0018767  A2882199   RO  C0260662   A3285898  interprets     0
...           ...       ...  ...       ...        ...         ...   ...
1407658  C0009054  A2880035  CHD  C0315102  A15126562         isa  None
1407827  C0030635  A2885177  CHD  C0317935  A15145417         isa  None
1408045  C0795635  A3497943  CHD  C0907402   A6922955         isa  None
1408046  C0795635  A3497943  CHD  C1313386   A6942348         isa  None
1408047  C0795635  A3497943  CHD  C0537270   A7878801         isa  None

[92010 rows x 7 columns]

In [84]:
df = df.drop_duplicates(['CUI1', 'CUI2', 'RELA'])

In [85]:
df.shape

(1316043, 7)

In [86]:
df.to_csv('relations.csv', index=None)

In [87]:
rel = pd.read_csv('relations.csv')

In [88]:
rel = rel.set_index(['CUI1', 'CUI2'])

In [99]:
rel = rel.sort_index()

In [101]:
rel.loc[('C0348025', 'C3697449')]

                       AUI1 REL       AUI2        RELA   RG
CUI1     CUI2
C0348025 C3697449  A3251309  RO  A23457357  has_access  0.0

In [102]:
rel.loc[rel.duplicated()==True]

Empty DataFrame
Columns: [AUI1, REL, AUI2, RELA, RG]
Index: []

In [103]:
rel['RELA'].value_counts()

isa                          523865
mapped_to                    113222
has_finding_site              88750
has_associated_morphology     61958
has_method                    59159
                              ...
has_process_output               11
temporally_related_to             7
has_dependent                     6
relative_to_part_of               2
has_inherent_location             1
Name: RELA, Length: 103, dtype: int64